html, body {
    margin:0;
    padding: 0;
}

body {
    color: white;
}

#red {
  background-color:red;
  grid-area: red;
}
#orange{
  background-color:orange;
  grid-area: orange;
}
#yellow{
  background-color:yellow;
  grid-area: yellow;
}
#green{
  background-color:green;
  grid-area: green;
}
#blue{
  background-color:blue;
  grid-area: blue;
}
#indigo{
  background-color: magenta;
  grid-area:indigo;
}
#violet{
  background-color: violet; 
  grid-area: violet;

}
#black {
  background-color:black;
  grid-area: black;
}

.grid-container div {
    text-align:center;
    border: 2px solid black;
    display: grid;
    align-items: center;
}
 
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  grid-template-areas: 
  "red    red    orange yellow"
  "green  green  green  blue"
  "indigo indigo violet violet"
  "black  black  black  black";
  width: 100vw;
  height: 100vh;
}

/* Tablet size */
/* @media screen and (width < 700px) {
  #indigo {
    text-decoration: line-through;
    background-color: coral;
  }

  .grid-container {
    grid-template-areas:
    "red red red red"
    "orange orange yellow yellow"
    "green green blue blue"
    "indigo indigo indigo violet"
    "black black black black";
  }
} */

/* Desktop size */
/* @media screen and (width > 1000px) {
  .grid-container {
    text-decoration: underline;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "red    red    yellow yellow yellow"
    "green  green  green  blue blue"
    "indigo indigo violet violet violet"
    "black  black  black  black black";
  }

  #orange {
    display: none;
  } 
    #
} */
